*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    cursor: default;
}

@font-face {
    font-family: agave;
    src: url('./../../public/fonts/Agave-Regular.ttf'); 
}

@font-face {
    font-family: agave-bold;
    src: url('./../../public/fonts/Agave-Bold.ttf'); 
    font-weight: bold;
}

.theme-1 {
    --normal-text: #111;
    --normal-text-light: #ffffff;
    --bold-text: #0a0a0a;
    /* --taskbar-bg: #faf6b9; */
    --taskbar-bg: #f99ea3;
    --taskbar-border: #743337; 

    --menuButton-bg: #fca7ac;
    --menuButton-border-top: #b76e73;
    --menuButton-border-bottom: #743337;
    /* --menu-hover: #fa8086; */
    --menu-hover: #fd787e;
    
    --window-body-color: #f5c9cb;
    --title-bar-color: #664fc6;
    --window-border-color: #060c1b;
    --window-shadow-color: #111111;

    --scrollbar-track-color: #f7a5a9;
    --scrollbar-thumb-color: #f4858a;
    /* --scrollbar-track-color: #c0b4f4;
    --scrollbar-thumb-color: #8f77f1; */

    --app-title-bg-transluscent: rgba(0, 0, 0, 0.2);

    --link-color: #fa8187;
    --input-bg-color: #f3babc;
}

html {
    font-size: 62.5%;
    background-color: #000;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url("./../../public/assets/landscape.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: agave, monospace;
    position: relative;
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px 10px;
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

/* ------------------------- UNIVERSAL STYLES ------------------------- */

hr {
    background-color: var(--scrollbar-thumb-color);
    border-color: var(--scrollbar-thumb-color);
    height: 0px;
    outline: none;
    border-bottom: none;
}

a {
    color: var(--link-color);
}

ul {
    list-style-type: square;
}

li {
    line-height: 1.1;
    font-size: 1.6rem;
}

form {
    padding: 20px 0 0 0;
}

label {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 0 4px 0;
}

input, textarea {
    font-size: 1.4rem;
    padding: 0.5rem;
    width: 100%;
    border: 2px solid var(--menuButton-border-top);
    border-bottom: 2px solid var(--menuButton-border-bottom);
    border-right: 2px solid var(--menuButton-border-bottom);
    background-color: var(--input-bg-color);
    border: 1px sol;
    outline: transparent;
    font-family: agave, monospace;
}

input:focus, textarea:focus {
    border: 2px solid var(--menuButton-border-bottom);
    border-bottom: 2px solid var(--menuButton-border-top);
    border-right: 2px solid var(--menuButton-border-top);
}

p {
    font-size: 1.6rem;
    padding: 10px 0 0 0;
    text-align: justify;
    line-height: 1.1;
}

img {
    max-width: 200px;
    max-height: 200px;
}

/* ------------------------- UTILITY CLASSES -------------------------- */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.primary-button {
    outline: transparent;
    background-color: var(--menuButton-bg);
    border: 2px solid var(--menuButton-border-top);
    border-bottom: 2px solid var(--menuButton-border-bottom);
    border-right: 2px solid var(--menuButton-border-bottom);
    font-size: 1.7rem;
    font-family: agave-bold, monospace;
    padding: 5px 15px;
}

.primary-button:focus {
    border: 2px solid var(--menuButton-border-bottom);
    border-bottom: 2px solid var(--menuButton-border-top);
    border-right: 2px solid var(--menuButton-border-top);
}

.fw-bold {
    font-family: agave-bold, monospace;
}

/* -------------------------------------------------------------------- */

#taskbar {
    height: 35px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--taskbar-bg);
    font-family: agave, monospace;
    border-bottom: 2px solid var(--taskbar-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
}

#buttonContainer, #batteryTimeContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.breathe {
    animation: breathe 500ms linear infinite alternate;
}

@keyframes breathe {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#taskbarButtonsContainer {
    width: 100%;
    margin-left: 7px;
}

.taskbar-btn {
    min-width: 150px;
    width: fit-content;
    height: 100%;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 3px;
    font-family: agave, monospace;
    padding-left: 5px;
    background-color: var(--menuButton-bg);
    border: 2px solid var(--menuButton-border-top);
    border-bottom: 2px solid var(--menuButton-border-bottom);
    border-right: 2px solid var(--menuButton-border-bottom);
}

#menuButton {
    height: 91%;
    padding: 0 15px;
    background-color: var(--menuButton-bg);
    border: 2px solid var(--menuButton-border-top);
    border-bottom: 2px solid var(--menuButton-border-bottom);
    border-right: 2px solid var(--menuButton-border-bottom);
    font-size: 1.7rem;
    font-family: agave-bold, monospace;
}

#menuButton.active, .taskbar-btn.active {
    border: 2px solid var(--menuButton-border-bottom);
    border-bottom: 2px solid var(--menuButton-border-top);
    border-right: 2px solid var(--menuButton-border-top);
    font-family: agave-bold, monospace;
}

#menu {
    position: absolute;
    top: 35px;
    left: 0;
    width: 280px;
    height: fit-content;
    background-color: var(--taskbar-bg);
    display: none;
    border: 2px solid var(--menuButton-border-top);
    border-bottom: 2px solid var(--menuButton-border-bottom);
    border-right: 2px solid var(--menuButton-border-bottom);
}

#menu li {
    padding: 10px;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--menuButton-border-bottom);
}

#menu li:last-child {
    border-bottom: none;
}

#menu li:hover {
    background-color: var(--menu-hover);
}

#batteryElement {
    font-size: 2rem;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
}

#batteryIcon {
    height: 22px;
}

#batteryPerc {
    font-size: 1.6rem;
    padding-left: 5px;
}

#charging {
    height: 15px;
    padding-right: 2px;
}

#timeElement {
    font-size: 1.5rem;
    background-color: var(--menuButton-bg);
    padding: 0 10px;
    border: 2px solid var(--menuButton-border-top);
    border-bottom: 2px solid var(--menuButton-border-bottom);
    border-right: 2px solid var(--menuButton-border-bottom);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91%;
}

#ampm {
    margin-left: 5px;
}

.window {
    position: absolute;
    background-color: var(--window-body-color);
    color: var(--taskbar-bg);
    padding-top: 20px;
    box-shadow: 5px 5px 0px var(--window-shadow-color);
    display: block;
}

.window-title {
    position: inherit;
    background-color: var(--title-bar-color);
    border: 2px solid var(--window-border-color);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    font-size: 1.6rem;
    font-family: agave-bold, monospace;
    color: var(--normal-text);
    cursor: default;
}

.window-body {
    height: 100%;
    width: 100%;
    border: 2px solid var(--window-border-color);
    border-top: 0;
    color: var(--normal-text);
    font-size: 1.8rem;
    padding: 20px 40px;
}

.window-body {
    overflow-y: scroll;
}

.alert-body {
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid var(--scrollbar-thumb-color);
}

.alert-body > button {
    margin-top: 20px;
}

.close-btn {
    height: 18px;
    width: auto;
    position: inherit;
    right: 5px;
}

.desktop-app {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.desktop-app:hover {
    background-color: var(--app-title-bg-transluscent);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app-icon {
    object-fit: cover;
    height: 55%;
    width: auto;
}

.app-title {
    font-size: 1.4rem;
    color: var(--normal-text-light);
    background-color: var(--app-title-bg-transluscent);
    padding: 4px;
    margin-top: 20px;
    line-height: 1;
}

.contact-list {
    padding: 10px 0 0 10px;
    font-size: 1.7rem;
}

.form-group {
    padding-bottom: 15px;
}

#contact-form-button {
    margin: auto;
}

.about-img {
    margin-bottom: 10px;
}

.about-img > img {
    outline: 2px solid var(--normal-text);
}

.about-tech {
    margin-top: 20px;
    margin-bottom: 100px;
}

.about-tech-list-1, .about-tech-list-2 {
    float: left;
    margin: 10px 20px 0 30px;
}
